<!DOCTYPE html>
<html>
 <head>
	<meta charset="UTF-8">
	<title>POSTAPO HEADER!</title>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<meta http-equiv="refresh" content="menu" >
	
	<script src="//cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser.js"></script>
	<script src="//cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser.min.js"></script>
	
	<link rel="stylesheet" href="style/layout.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans+Condensed:300" rel="stylesheet">
 </head>
<body>
<h3>WELCOME !</h3>
